.container{
    display: grid;
    grid-template-columns: 2fr 3fr;
    border:1px solid gray;
    border-radius: 5px;
    width:700px;
}
.text{
    margin-left: 15px;
}
.text p{
    font-size: 21px;
    text-align: left;
}
.text span{
    font-size: 17px;
    color: gray;
}